@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Theresa's Learning, Trial and Error<br />
    Taylor, MI 48180-6399<br />
    <abbr title="Phone">Phone:</abbr>
    313-225-8892
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tsscamaro@gmail.com">tsscamaro@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>