@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>As life chews you up and spits you out, be as best prepared as possible. 
    Many life lessons are learned by trial and error, but money is too valuable to lose.

    Fearing your finances will lead to reckless behaviors.

    One can be confident with their financial decisions and counting the money is one way
    to gain both a bigger bank account, as well as a confidence in your decisions and actions.

    Feel the force of your Financial Freedom!
    
    
    
    </p>
