@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Yoda+Finance<br />
    Detroit, MI 48226-6399<br />
    <abbr title="Phone">Phone:</abbr>
    (313) 623-3569
</address>

<address>
    <strong>Director:</strong>   <a href="mailto:tsscamaro@gmail.com">tsscamaro@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>