@{
    ViewBag.Title = "Home Page";
}

 
    <div class="container">
        <h1>Inspiring Finance Concepts</h1>
        <img src="~/img/YODA Code.jpg">
        <p> Everyone needs a financial adventure! </p>
    </div>
